<a href="https://colab.research.google.com/github/vinicunhac/fiap_big_data_science/blob/main/linear_regression_pib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as dash
from google.colab import drive
import os
import warnings
import itertools
warnings.filterwarnings('ignore')
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_excel('/content/drive/My Drive/Colab Notebooks/FIAP - Data Science/Pasta.xlsx', index_col=0)  
df.head()

,Indice PIB,BRL,BRP,BRT,SPL,SPP,SPT,PRL,PRP,PRT,RJL,RJP,RJT
data,,,,,,,,,,,,,
2003-01-01,100.000000,108.868966,104.405426,107.871533,105.525724,110.264594,106.578041,114.830009,85.775670,104.366420,113.379460,99.223295,111.186571
2003-02-01,100.933407,90.987165,100.670444,93.151013,87.332964,106.106098,91.501741,81.516204,90.925416,84.904824,102.926518,88.073804,100.625728
2003-03-01,101.275227,94.036666,110.228054,97.654832,94.695974,113.623417,98.899017,83.645408,115.135764,94.986300,101.462018,93.355740,100.206299
2003-04-01,100.685073,93.432851,111.028933,97.364913,94.854513,114.163462,99.142274,85.214131,107.938739,93.398139,99.962758,93.586017,98.974956
2003-05-01,101.161266,91.075228,116.094954,96.666194,92.012817,122.459622,98.773859,78.451460,109.161106,89.511188,102.639308,96.211511,101.643597

In [6]:
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
import statistics

schema_list = df.columns.tolist()
del schema_list[0]
final_list = []
for a in range(2,12):
  for i in itertools.combinations(schema_list, a):

    filter =  [(i[j]) for j in range(len(i))]
    
    model1=sm.OLS(df['Indice PIB'], df[filter])

    result=model1.fit()

    intern_list = [f'{filter}', statistics.mean([(result.pvalues[j]) for j in range(len(result.pvalues))]), result.rsquared,  statistics.mean([(result.bse[j]) for j in range(len(result.bse))])]

    final_list.append(intern_list)

In [7]:
df_1 = pd.DataFrame(final_list, columns =['combination', 'pvalues', 'rsquared', 'stderror'])

In [8]:
df_1.head()

      combination       pvalues  rsquared  stderror
0  ['BRL', 'BRP']  3.094742e-18  0.998773  0.024168
1  ['BRL', 'BRT']  1.772450e-46  0.998764  0.100230
2  ['BRL', 'SPL']  1.911541e-01  0.991176  0.335779
3  ['BRL', 'SPP']  1.946781e-19  0.998409  0.025532
4  ['BRL', 'SPT']  3.509045e-09  0.996114  0.126790

In [9]:
filter = df_1["pvalues"] <= 0.05
df_1.where(filter, inplace = True)

In [10]:
df_1.sort_values(by=['rsquared'],ascending=False).head(1)

,combination,pvalues,rsquared,stderror
4032,"['BRL', 'BRP', 'BRT', 'SPP', 'SPT', 'PRL', 'PR...",0.046667,0.999233,1.226991