<a href="https://colab.research.google.com/github/vinicunhac/fiap_big_data_science/blob/main/t36_class_4_regressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 0. Libs

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

## 1. Loading datasets

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/SHIFT/Data/pib.csv")

df.head()

,Unnamed: 0,ANO_MES,PIB,BRL,BRP,BRT,SLP,SPP,SPT,PRL,...,PIBi3,PIBi4,PIBi5,PIBi6,PIBi7,PIBi8,PIBi9,PIBi10,PIBi11,PIBi12
0,1,jan/04,103.09,109.19,108.67,109.08,102.84,114.27,105.38,127.49,...,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70,100.03,100.00
1,2,fev/04,102.05,95.65,104.52,97.63,90.76,109.83,94.99,96.60,...,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70,100.03
2,3,mar/04,110.43,91.69,125.53,99.26,89.78,133.24,99.43,83.79,...,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70
3,4,abr/04,106.77,95.36,118.34,100.49,94.58,123.55,101.02,91.79,...,103.09,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17
4,5,mai/04,108.08,92.47,121.49,98.96,91.34,128.32,99.55,85.73,...,102.05,103.09,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93

Warning: Total number of columns (38) exceeds max_columns (20) limiting to first (20) columns.

## 2. Sample train and test

In [5]:
train = df.iloc[0:124]
test = df.iloc[125:137]

## 3. Bulding model

In [27]:
y_train = train.iloc[:,[2]]

# x_train = train.loc[:,["BRL"]]
# x_train = train.loc[:,["BRL", "BRP"]]
# x_train = train.loc[:,["PIBi1", "PIBi2"]]
# x_train = train.loc[:,["PIBi1", "PIBi2", "PIBi4", "PIBi12"]]
x_train = train.loc[:,["BRL", "BRP", "D1", "D5", "D11"]]

mod = LinearRegression()

mod.fit(x_train,y_train)

LinearRegression()

## 4. Testing

In [28]:
# x_test = test.loc[:,["BRL"]]
# x_test = test.loc[:,["BRL", "BRP"]]
# x_test = test.loc[:,["PIBi1", "PIBi2"]]
# x_test = test.loc[:,["PIBi1", "PIBi2", "PIBi4", "PIBi12"]]
x_test = test.loc[:,["BRL", "BRP", "D1", "D5", "D11"]]
y_prev = mod.predict(x_test)
y_real = test.loc[:,['PIB']]

error = y_real - y_prev

erro_abd_medio = np.mean(abs(error))

erro_abd_medio

PIB    2.57407
dtype: float64